#ignore everything
*

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

.htaccess

!assets/*

!*/
!*.php
!*.html
!*.css
!*.gif
!*.ico
!*.jpg
!*.png
!*.js

!*.gitignore
