/*
Name: Natalia Ksenz
Coding 07
Purpose: MVC Frameworks

Filename: main.css
*/

/* HTML and Body styles */

html {
   background: white;
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   box-sizing: border-box;
   background-color: white;
   border-left: 1px solid gray;
   border-right: 1px solid gray;
   min-height: 100%;
   margin: 0px auto;
   min-width: 180px;
   max-width: 1024px;
   width: 100%;
 }

/* Header styles */

.header-body {
   background: url(/assets/images/header.jpg) center center / cover no-repeat;
   width: 100%;
   height: 100%;
   text-align: center;
   opacity: 0.8;
   color: white;
}

/* Navigation list styles */

.horizontalNavigation ul {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
	 width: 100%;
   list-style: none;
   padding-left: 0;
}

.horizontalNavigation li {
    display: block;
    text-align: center;
  }

.horizontalNavigation a {
   color: rgb(231, 231, 231);
   text-shadow: rgb(51, 51, 51) 0px 0px 1px, rgb(51, 51, 51) 0px 0px 8px;
   display: block;
   width: 95%;
   text-decoration: none;
   padding: 2%;
}

/* Div Styles */

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  clear: both;
}

aside {
  width: 100%;
}

aside p {
  font-size: 1.3em;
}

section#programs article {
  margin: 10px;
  display: block;
}

section#programs article p {
  font-size: 1.2em;
}

section#programs article img {
  width: 50%;
  margin: 10px auto;
}

div p {
  display: block;
  margin: 10px;
}

/* Form Layout Styles */

fieldset {
  display: block;
  background: grey;
  border-radius: 20px;
  font-size: 1em;
  min-width: 150px;
  padding: 10px;
  margin: 0px;
}

div.formRow {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div#button {
	text-align: center;
	width: 100%;
  padding-bottom: 20px;
}

input {
  min-width: 100px;
}

input:focus {
  background-color: rgb(220, 255, 220);
}

div#msg {
  color: red;
  text-align: center;
  font-size: 1.1em;
}

/* Footer styles */

footer {
  background: black;
  font-size: 1.1em;
  padding: 10px;
  text-align: center;
}

footer img {
  width: 7%;
  padding: 10px;
}

/* =============================================
   Mobile Styles: 0px to 480px
   =============================================
*/
@media only screen and (max-width: 480px) {

  .horizontalNavigation ul {
     display: block;
  }

  .horizontalNavigation li {
    width: 100%;
  }

  .horizontalNavigation a {
     font-size: 1.4em;
  }

  aside {
    padding: 2px;
  }

  section#programs article img {
    display: flex;
    width: 100%;
  }

  .main-banner, .imgban {
    display: none;
  }

  div.formRow > * {
  	-webkit-flex: 1 1 100px;
  	flex: 1 1 100px;
  }

  section#programs article {
    margin: 3px;
  }

}

/* =============================================
   Tablet Styles: 481px and greater
   =============================================
*/

@media only screen and (min-width: 481px) {

  .horizontalNavigation li {
    width: 50%;
  }

  .horizontalNavigation a {
    text-align: center;
    font-size: 2em;
  }

  section#programs article img {
    display: flex;
    width: 70%;
  }

  #registration fieldset, #email-form fieldset {
    font-size: 1.3em;
    margin: 15px;
  }

  div.formRow > * {
  	-webkit-flex: 1 1 150px;
  	flex: 1 1 150px;
  }
}

/* =============================================
   Desktop Styles: greater than 769 px
   =============================================
*/

@media only screen and (min-width: 769px) {

    h2 {
      font-size: 1.7em;
    }

    .horizontalNavigation li {
    	 width: 50%;
    }

    .horizontalNavigation a {
       text-align: center;
       font-size: 2em;
    }

    .horizontalNavigation a:hover {
       color: black;
       padding: 10px;
    }

    aside {
      padding: 10px;
    }

    section#programs article {
      display: flex;
    }

    section#programs article p {
      margin: 10px;
    }

    .about-body {
      display: flex;
    }

    .about-body iframe{
      float: right;
    }

    .about-body p {
      padding: 10px;
    }

    .contact p {
      padding: 10px;
      text-align: center;
      font-size: 1.1em;
    }

    .main-banner {
      margin: 0 auto;
      width: 100%;
      height: 600px;
      overflow: hidden;
      position: relative;
    }

    .main-banner .imgban {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      transition: all ease-in-out 500ms;
      -webkit-transition: all ease-in-out 500ms;
      -moz-transition: all ease-in-out 500ms;
      -o-transition: all ease-in-out 500ms;
    }

    .main-banner #imgban3 {
      background-image: url(../images/equip.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .main-banner #imgban2 {
      background-image: url(../images/cassey.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .main-banner #imgban1 {
      background-image: url(../images/kids.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    #registration fieldset, #email-form fieldset {
      font-size: 1.5em;
      margin: 25px;
    }

    div.formRow > * {
    	-webkit-flex: 1 1 150px;
    	flex: 1 1 150px;
    }
  }
